---
layout: head en.vto
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Nicolas Chaudier architect</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link
            rel="shortcut icon"
            type="image/jpg"
            href="Photos\En Eaux Vives\photo-9.jpg"
        />
    </head>

  <body>

  </body>
</html>
